.carousel {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: calc(100vw - 30px); 
  max-height: calc(100vw - 30px); 
}

.imageContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  max-width: calc(100vw - 30px); 
  max-height: calc(100vw - 30px); 

  .image {
    object-fit: contain;
    width: 100%; 
  }
}