.carousel {
  margin-top: 50px;
  max-width: calc(100vw - 10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;

  .image {
    object-fit: contain;
  }
}
