.scroll {
  background: var(--text-color);
  border-radius: 100%;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 0.5;
  z-index: 1000;
  font-size: 30px;
  color: var(--secondary-bg-color);
}

.scroll:hover {
  color: var(--primary-bg-color);
  opacity: 1;
}

@media (max-width: 420px) {
  .scroll {
    font-size: 20px;
  }
}
