.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: var(--secondary-bg-color);
  border-bottom: 1px solid var(--gray-color);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dark {
  :global {
    .ant-drawer-header {
      background: var(--gray-color);
    }
    .ant-drawer-body {
      background: var(--gray-color);
    }
    .ant-drawer-body .Header_header__right__mjU6D span svg {
      fill: white;
    }
  }
}
